apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  namespace: ${VAULT_NAMESPACE}
  labels:
    app.kubernetes.io/name: vault
data:
  extraconfig-from-values.hcl: |-
    disable_mlock = true
    ui = true

    storage "file" {
      path = "/vault/data"
    }
