apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: clusterspiffeids.spire.spiffe.io
spec:
  group: spire.spiffe.io
  scope: Cluster
  names:
    plural: clusterspiffeids
    singular: clusterspiffeid
    kind: ClusterSPIFFEID
    categories:
    - spire
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            required:
            - spiffeIDTemplate
            properties:
              className:
                type: string
              spiffeIDTemplate:
                type: string
              podSelector:
                type: object
                properties:
                  matchLabels:
                    type: object
                    additionalProperties:
                      type: string
                  matchExpressions:
                    type: array
                    items:
                      type: object
                      required:
                      - key
                      - operator
                      properties:
                        key:
                          type: string
                        operator:
                          type: string
                        values:
                          type: array
                          items:
                            type: string
              namespaceSelector:
                type: object
                properties:
                  matchLabels:
                    type: object
                    additionalProperties:
                      type: string
                  matchExpressions:
                    type: array
                    items:
                      type: object
                      required:
                      - key
                      - operator
                      properties:
                        key:
                          type: string
                        operator:
                          type: string
                        values:
                          type: array
                          items:
                            type: string
              dnsNameTemplates:
                type: array
                items:
                  type: string
              federatesWith:
                type: array
                items:
                  type: string
              ttl:
                type: string
              downstream:
                type: boolean
              admin:
                type: boolean
