apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: spire-csi-driver
  namespace: spire-system
  labels:
    app: spire-csi-driver
spec:
  selector:
    matchLabels:
      app: spire-csi-driver
  template:
    metadata:
      labels:
        app: spire-csi-driver
    spec:
      serviceAccountName: spire-csi-driver
      hostPID: true
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
      - name: spire-csi-driver
        image: ghcr.io/spiffe/spiffe-csi-driver:0.2.6
        args:
        - -workload-api-socket-dir=/spire-agent-socket
        - -csi-socket-path=/spire-csi/csi.sock
        - -node-id=$(NODE_NAME)
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        securityContext:
          privileged: true
        volumeMounts:
        - name: spire-agent-socket-dir
          mountPath: /spire-agent-socket
          readOnly: true
        - name: spire-csi-socket-dir
          mountPath: /spire-csi
        - name: mountpoint-dir
          mountPath: /var/lib/kubelet
          mountPropagation: Bidirectional
      - name: node-driver-registrar
        image: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.9.0
        args:
        - -csi-address=/spire-csi/csi.sock
        - -kubelet-registration-path=/var/lib/kubelet/plugins/csi.spiffe.io/csi.sock
        - -health-port=9809
        volumeMounts:
        - name: spire-csi-socket-dir
          mountPath: /spire-csi
        - name: kubelet-plugin-registration-dir
          mountPath: /registration
        ports:
        - containerPort: 9809
          name: healthz
        livenessProbe:
          httpGet:
            path: /healthz
            port: healthz
          initialDelaySeconds: 5
          timeoutSeconds: 5
      volumes:
      - name: spire-agent-socket-dir
        hostPath:
          path: /run/spire/sockets
          type: Directory
      - name: spire-csi-socket-dir
        hostPath:
          path: /var/lib/kubelet/plugins/csi.spiffe.io
          type: DirectoryOrCreate
      - name: mountpoint-dir
        hostPath:
          path: /var/lib/kubelet
          type: Directory
      - name: kubelet-plugin-registration-dir
        hostPath:
          path: /var/lib/kubelet/plugins_registry
          type: Directory
