apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: spire-server
  namespace: ${SPIRE_NAMESPACE}
  labels:
    app: spire-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spire-server
  serviceName: spire-server
  template:
    metadata:
      labels:
        app: spire-server
    spec:
      serviceAccountName: spire-server
      securityContext:
        fsGroup: 1000
      containers:
      - name: spire-server
        image: ghcr.io/spiffe/spire-server:1.14.0
        args:
        - -config
        - /run/spire/config/server.conf
        ports:
        - containerPort: 8081
          name: grpc
          protocol: TCP
        - containerPort: 8080
          name: healthz
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /live
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 60
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
        volumeMounts:
        - name: spire-config
          mountPath: /run/spire/config
          readOnly: true
        - name: spire-data
          mountPath: /run/spire/data
      - name: oidc-provider
        image: ghcr.io/spiffe/oidc-discovery-provider:1.14.0
        args:
        - -config
        - /run/spire/config/oidc-discovery-provider.conf
        ports:
        - containerPort: 8088
          name: oidc
        volumeMounts:
        - name: spire-config
          mountPath: /run/spire/config
          readOnly: true
        - name: spire-data
          mountPath: /run/spire/data
          readOnly: true
      volumes:
      - name: spire-config
        configMap:
          name: spire-server
  volumeClaimTemplates:
  - metadata:
      name: spire-data
    spec:
      accessModes:
      - ReadWriteOnce
      storageClassName: gp2-csi
      resources:
        requests:
          storage: 1Gi
